@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
    --backgroundcolor: #2a2827;
    --color0: ;
    --color1: ;
    --color2: ;

    --fontcolor0: #494443;
    --fontcolor1: #ee8561;
    --fontcolor2: #eabc54;

    --defautfont: "Poppins", sans-serif;
    --titlefont: "Cousine", monospace;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: var(--backgroundcolor);
    font-family: var(--defautfont);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

div#alerta {
    margin-top: 15px;
    text-align: center;
}

div#alerta > p {
    display: inline-block;
    font-size: 0.9em;
    color: #eabc54;
}

nav {
    margin: auto;
    background-color: #242221;
    text-align: center;
    color: #e9dad5
}

li.menu {
    font-size: 1.16em;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
li.menu >a:hover {
    color: rgb(170, 159, 155);
}

main {
    min-width: 350px;
    max-width: 900px;
    margin: auto;
    padding: 0px 5px 0px 5px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--fontcolor2);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h2 {
    color: var(--fontcolor0);
    font-size: 1.4em;
}

a {
    color: #e9dad5;
    text-decoration: none;
}

section#apresentacao {
    background-image: url(../archives/background-apresentacao.png);
    text-align: center;
    background-color: #242221;
    padding: 15px;
    margin: 55px auto 55px auto;
    border-radius: 5px;
}

#img {
    background-image: url(../img/img-perfil.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid #eabc54;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
    margin-top: 20px;
}

#frase {
    max-width: 500px;
    margin: auto;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 20px;
}

p#quote {
    font-size: 1.15em;
    color: #eabc54;
}

strong.frase1 {
    font-weight: normal;
    color: #ee8561;
}

section#skills {
    text-align: center;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
}

div.resumos {
    text-align: left;
    width: 220px;
    height: 150px;
    margin: 8px;
    background-color: #e9dad5;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    transition: 0.5s;
    color: #424346;
    box-shadow: 4px 4px 0px #ee8561;
}

div#icons {
    border: 1px solid #ee8561;
    border-radius: 5px;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 15px;
    background-color: var(--backgroundcolor);
    text-align: center;
}

.conteudo {
    opacity: 0; /* Começa com opacidade 0 */
    transition: opacity 0.7s ease-in-out; /* Adiciona transição suave */
}

.conteudo.mostrar {
    opacity: 1; /* Quando a classe "mostrar" é adicionada, opacidade se torna 1 */
}

div > p {
    color: #424346;
    padding: 6px;
    font-size: 1em;
}

div.resumos:hover {
    background-color: #ffbea8;
}

ul {
    list-style-type: none;
}

li.tech {
    font-size: 5em;
    padding: 10px;
    display: inline-block;
}

section#estudos {
    margin: auto;
    background-color: #e9dad5;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #eabc54;
}
div#conteudo {
    margin: auto;
    max-width: 500px;
}
div#conteudo > p {
    text-align: justify;
    padding-top: 35px;
    padding-bottom: 30px;
}

div#conteudo > a > h3:hover {
    text-decoration: underline;
}

h3 {
    padding-top: 30px;
    font-size: 1.3em;
}

ul#contato {
    padding: 5px 5px 10px 5px;
}

li {
    display: inline-block;
    padding: 0px 10px 10px 10px;
    font-size: 3em;
}

li#linkcontato {
    cursor: pointer;
}

footer {
    background-color: #242221;
    margin-top: 50px;
    padding: 15px;
    font-size: 0.9em;
}

